<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/jasmine.min.css">
	    <script src="../jasmine.js"></script>
    <script src="../jasmine-html.js"></script>
    <script src="../boot.js"></script>

    <script src="../angular.min.js"></script>
    <script src="../angular-mocks.js"></script>
    <script type="text/javascript" src="alert-serviceTest.js"></script>
    <script type="text/javascript" src="alert-serviceSpec.js"></script>
</head>
<body ng-app="RDash">

<div ng-controller="myCtrl as master">
		<div class="col-lg-7 col-md-6 col-sm-10 col-xs-12">
			<input type="text" ng-model="type">
			<button type="submit" class="btn btn-primary pull-right" ng-click="master.login(type)">Login</button>
			<br/>
			<!-- <h3>{{type}}</h3> -->
			
		</div>
		

	<div data-ng-controller="AlertsCtrl as messenger" data-ng-show="messenger.alerts.length">
          <div class="col-xs-12">
            <div ng-repeat="alert in messenger.alerts">{{alert.msg}}
            	<button ng-click="master.close(alert.alerts)"> X</button>
            </div>
          
          </div>
    </div>
</div>
</body>
</html>